.output {
	border: 2px solid black;
	padding: 1em;
	font-size: 1.25em;
	float: left;
}

.helper-text {
	font-weight: bold;
}

form {
	display: block;
	margin: 0 auto;
	font-size:1.25em;
	margin-bottom: 2em;
}

label {
	margin: .5em .5em .5em 0;
	display: block;
	font-weight: normal;
}

.btn {
	background-color: black;
	color: white;
}

.btn[type='submit']:hover {
	background-color: gainsboro;
	color: black;
	border: 1px solid black;
}

.btn:visit {
	background-color: gainsboro;
	color: black;
}

.btn:click {
	background-color: gainsboro;
	color: black;
}

h1 {
	font-size: 2em;
}

img {
	float: right;
	z-index: -1;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.instructions {
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 1.25em;
}

@media (min-width: 768px) and (max-width: 991px) {

	.output {
		max-width: 100%;
		margin: 0 auto;
	}

	.instructions {
		max-width: 100%;
	}

}

@media (min-width: 991px){
	.output {
		max-width: 50%;
		margin-bottom: 2em;
	}

	.instructions {
		max-width: 50%;
	}
}
